{%- if volume.tiebreaker.path != "" -%}
  name {{ volume.id }}-ta
  type protocol/client
  option transport.socket.read-fail-log false
  option remote-host {{ volume.tiebreaker.node }}
  option remote-port {{ volume.tiebreaker.port }}
  option remote-subvolume {{ volume.tiebreaker.path }}
{%- endif -%}

{% for dist_grp in volume.distribute_groups %}
  {% set dist_grp_idx = loop.index0 %}
  {% for storage_unit in dist_grp.storage_units %}
    name {{ volume.name }}-replica-{{ dist_grp_idx }}-client-{{ (dist_grp_idx * 2) + loop.index0 }}
    type protocol/client
    option transport.socket.read-fail-log false
    option volfile-key /{{ volume.name }}
    option remote-subvolume {{ storage_unit.path }}
    option remote-host {{ storage_unit.node.name }}
    {% if storage_unit.port != 0 %}
      option remote-port {{ storage_unit.port }}
    {% endif %}
  {% endfor %}
{% endfor %}

{% for i in range(volume.distribute_groups|length) %}
  name {{ volume.name }}-replica-{{ i }}
  type cluster/replicate
  option data-self-heal on
  option granular-entry-heal on
  option iam-self-heal-daemon off
  option metadata-self-heal on
  option entry-self-heal on
  option read-hash-mode 5
  {% if volume.tiebreaker.path != "" %}
    option afr-pending-xattr {{ volume.name }}-client-{{ i * 2 }},{{ volume.name }}-client-{{ (i * 2) + 1}},{{ volume.id }}-ta
    option thin-arbiter {{ volume.tiebreaker.node }}:{{ volume.tiebreaker.path }}
  {% else %}
    option afr-pending-xattr {{ volume.name }}-client-{{ i * 2 }},{{ volume.name }}-client-{{ (i * 2) + 1}}
  {% endif %}
{% endfor %}

{% if volume.distribute_groups|length > 1 %}
  name {{ volume.name }}-dht
  type cluster/distribute
{% endif %}

name {{ volume.name }}-utime
type features/utime
option noatime on

name {{ volume.name }}-write-behind
type performance/write-behind
option flush-behind on
option write-behind on

name {{ volume.name }}-open-behind
type performance/open-behind
option read-after-open yes

name {{ volume.name }}-quick-read
type performance/quick-read

name {{ volume.name }}-md-cache
type performance/md-cache

name {{ volume.name }}-io-threads
type performance/io-threads

name {{ volume.name }}
type debug/io-stats
option volume-id {{ volume.id }}
