{% for dist_grp in volume.distribute_groups %}
  {% set dist_grp_idx = loop.index0 %}
  {% for storage_unit in dist_grp.storage_units %}
    name {{ volume.name }}-client-{{ (dist_grp_idx * (dist_grp.storage_units|length)) + loop.index0 }}
    type protocol/client
    option transport.socket.read-fail-log false
    option volfile-key /{{ volume.name }}
    option remote-subvolume {{ storage_unit.path }}
    option remote-host {{ storage_unit.node.name }}
    {% if storage_unit.port != 0 %}
      option remote-port {{ storage_unit.port }}
    {% endif %}

    parent {{ volume.name }}-{% if dist_grp.replica_count > 0 %}replicate{% else %}disperse{% endif %}-{{ dist_grp_idx }}
  {% endfor %}
{% endfor %}

{% for dist_grp in volume.distribute_groups %}
  {% if dist_grp.replica_count > 0 or dist_grp.redundancy_count > 0 %}
    {% set dist_grp_idx = loop.index0 %}
    {% set dist_grp_size = dist_grp.storage_units|length %}
    {% if dist_grp.replica_count > 0 %}
      {% set vol_type = "replicate" %}
    {% else %}
      {% set vol_type = "disperse" %}
    {% endif %}
    name {{ volume.name }}-{{ vol_type }}-{{ loop.index0 }}
    type cluster/{{ vol_type }}
    {% if dist_grp.redundancy_count > 0 %}
      option redundancy {{ dist_grp.redundancy_count }}
    {% endif %}
    {% if dist_grp.replica_count > 0 and dist_grp.arbiter_count > 0 %}
      option arbiter-count {{ dist_grp.arbiter_count }}
    {% endif %}
    option data-self-heal on
    option granular-entry-heal on
    option iam-self-heal-daemon on
    option self-heal-daemon on
    option metadata-self-heal on
    option choose-local on
    option ensure-durability on
    option data-change-log on
    option entry-self-heal on

    {% if volume.tiebreaker.path != "" %}
      option afr-pending-xattr {{ volume.name }}-client-{{ dist_grp_idx * dist_grp_size }},{{ volume.name }}-client-{{ (dist_grp_idx * dist_grp_size) + 1}},{{ volume.id }}-ta
      option thin-arbiter {{ volume.tiebreaker.node }}:{{ volume.tiebreaker.path }}
    {% else %}
      option afr-pending-xattr {% for i in range(dist_grp.storage_units|length) %}{{ volume.name }}-client-{{ (dist_grp_idx * dist_grp_size) + i }}{% if not loop.last %},{% endif %}{% endfor %}
    {% endif %}
    parent {{ volume.name }}-shd
  {% endif %}
{% endfor %}

name {{ volume.name }}-shd
type debug/io-stats
option volume-id {{ volume.id }}
